<h1>Events</h1>

<a href="/events/new">Add an event</a><br><br>

<% @events.each do |event| %>
  <a href="/events/<%= event.id %>"><%= event.sport %> - <%= event.type %></a>
  <a href="/events/<%= event.id %>/edit">Edit</a>
  <a href="/events/<%= event.id %>/delete">Delete</a><br>
<% end %>


<p>Athletics</p>
<span class="sprite-sports sprite-sports-ath"></span></a>
<p>Artistic Gymnastics</p>
<span class="sprite-sports sprite-sports-gym"></span></a>
<p>Swimming</p>
<span class="sprite-sports sprite-sports-swim"></span></a>
<p>Diving</p>
<span class="sprite-sports sprite-sports-dive"></span></a>