<h1>Events</h1>

<a href="/events/new">Add an event</a><br><br>

<% @grouped_events.each do | key, events | %>
  <p><%= key %></p>
  <span class="sprite-sports sprite-sports-<%= key.slice(0,2).downcase %>"></span></a><br><br>
  <% events.each do |event| %>
    <a href="/events/<%= event.id %>"><%= event.type %></a>
    <a href="/events/<%= event.id %>/edit">Edit</a>
    <a href="/events/<%= event.id %>/delete">Delete</a><br>
  <% end %>
<% end %>
<br><br>