<h2>Event</h2>

  <%= @event.sport %> - <%= @event.type %> - <%= @event.format_date(@event.day) %>
  <a href="/events/<%= @event.id %>/edit"><img src="/img/edit.png" class="icon" alt="Edit"></a>
  <a href="/events/<%= @event.id %>/delete"><img src="/img/delete.png" class="icon" alt="Delete"></a>
  <br><br>


  <p>Athletes in event:</p>
  <% @event.athletes.each do |athlete| %>
  <a href="/athletes/<%= athlete.id %>"><%= athlete.full_name %></a><br>
  <% end %><br>


  <form action="/events/<%= @event.id %>/athletes" method="post">

  <label for="athlete_id">Add athlete to this event:</label>
    <select name="athlete_id">
      <% @grouped_athletes.each do | key, athletes | %>
        <optgroup label= "<%= key %>" >
          <% athletes.each do |athlete| %>
          <option value="<%= athlete.id %>"><%= athlete.full_name %></option>
          <% end %>
        </optgroup>
      <% end %>
  </select><br>

      <button type="submit" class="btn">Add</button>
  </form>


  <form action="/events/<%= @event.id %>/athletes" method="post">
  <input type="hidden" name="_method" value="delete">

  <label for="athlete_id">Remove athlete from this event:</label>
    <select name="athlete_id">
      <% @event.athletes.each do |athlete| %>
      <option value="<%= athlete.id %>"><%= athlete.full_name %></option>
      <% end %>
  </select><br>
  
      <button type="submit" class="btn">Remove</button>
  </form>

<br>
<a href="/events"><button type="button" class="btn">All Events</button></a>