<table>

  <tr>
    <th scope="col">Nation</th>
    <th scope="col">Gold</th>
    <th scope="col">Silver</th>
    <th scope="col">Bronze</th>
    <th scope="col">Points</th>
  </tr>

  <% @medal.results_table().each do |result| %>
    <tr>
      <th scope="row"> <%= result[:nation] %> </th>
      <td> <%= result[:gold] %> </th>
      <td> <%= result[:silver] %> </th>
      <td> <%= result[:bronze] %> </th>
      <td> <%= result[:points] %> </th>
    </tr>
  <% end %>

</table><br><br>


<table>

  <tr>
    <th scope="col">Event</th>
    <th scope="col">Gold</th>
    <th scope="col">Silver</th>
    <th scope="col">Bronze</th>
  </tr>

  <% @medal.medalists_table().each do |result| %>
    <tr>
      <th scope="row"> <%= result[:event] %> </th>
      <td> <%= result[:gold][:name] %> <br> <span class="sprite-flags sprite-flags-large sprite-flags-large-<%= result[:gold][:nation] %>"></span><br><%= %></th>
      <td> <%= result[:silver][:name] %> <br> <span class="sprite-flags sprite-flags-large sprite-flags-large-<%= result[:silver][:nation] %>"></span></th>
      <td> <%= result[:bronze][:name] %> <br> <span class="sprite-flags sprite-flags-large sprite-flags-large-<%= result[:bronze][:nation] %>"></span></th>
    </tr>
  <% end %>

</table>