<h1>Nations</h1>

<a href="/nations/new">Add a nation</a><br><br>

<% @nations.each do |nation| %>
  <span class="sprite-flags sprite-flags-large sprite-flags-large-<%= nation.code %>"></span>
  <%= nation.title %> - <%= nation.code %>
  <a href="/nations/<%= nation.id %>/edit">Edit</a>
  <a href="/nations/<%= nation.id %>/delete">Delete</a><br>
<% end %>