<h2>Nations</h2>

<a href="/nations/new"><button type="button" class="btn">Add a Nation</button></a><br><br>

<div class="nations">
  <% @nations.each do |nation| %>
    <div class="nation">
      <a href="/nations/<%= nation.id %>"><span id="t2flag" class="sprite-flags sprite-flags-large sprite-flags-large-<%= nation.code %>"></span></a>
      <div id="ta">
        <a href="/nations/<%= nation.id %>"><%= nation.title %></a>
          <a href="/nations/<%= nation.id %>/edit"><img src="/img/edit.png" class="icon" alt="Edit"></a>
          <a href="/nations/<%= nation.id %>/delete"><img src="/img/delete.png" class="icon" alt="Delete">
          </a><br>
      </div>
    </div>
  <% end %>
</div>
