<h1>Nation</h1>

  <span class="sprite-flags sprite-flags-large sprite-flags-large-<%= @nation.code %>"></span>
  <%= @nation.title %> - <%= @nation.code %>
  <a href="/nations/<%= @nation.id %>/edit">Edit</a>
  <a href="/nations/<%= @nation.id %>/edit">Delete</a><br><br>

<a href="/nations">All nations</a>