<h2>Edit Athlete</h2>

<form action="/athletes/<%= @athlete.id %>" method="post">
<input type="hidden" name="_method" value="put">

    <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" value="<%= @athlete.first_name %>"><br>
    </div>

    <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" value="<%= @athlete.last_name %>"><br>
    </div>

    <div class="form-group">
        <label for="gender">Gender:</label>
        <input type="radio" value="f" <%= "checked='checked'" if @athlete.gender == "f" %> name="gender">Female
        <input type="radio" value="m" <%= "checked='checked'" if @athlete.gender == "m" %> name="gender">Male<br>
    </div>

    <div class="form-group">
        <label for="nation_id">Nation:</label>
          <select name="nation_id">
            <% @nations.each do |nation| %>
            <option value="<%= nation.id %>" <%= "selected" if nation.id == @athlete.nation_id %>><%= nation.title %></option>
            <% end %>
        </select>
    </div>

    <button type="submit" class="btn edit-btn">Edit</button>

    <br>
    <br>

    <a href="/nations/<%= @athlete.nation_id %>"><button type="button" class="btn">Go Back</button></a>

</form>